#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "autoconf"
     "bat"
     "bottom"
     "bun"
     "ca-certificates"
     "cairo"
     "confuse"
     "curl"
     "docker"
     "docker-completion"
     "docker-compose"
     "duf"
     "eza"
     "fd"
     "fish"
     "fnm"
     "fontconfig"
     "fzf"
     "gh"
     "git"
     "git-delta"
     "gnutls"
     "lazygit"
     "less"
     "make"
     "ncurses"
     "neovim"
     "pillow"
     "pinentry"
     "pkg-config"
     "rbenv"
     "readline"
     "ripgrep"
     "ripgrep-all"
     "ruby-build"
     "rustup-init"
     "sqlite"
     "tree-sitter"
     "webp"
     "wget"
     "zellij"
     "zoxide" -}}

{{ $casks := list
     "arc"
     "discord"
     "docker"
     "doll"
     "firefox-developer-edition"
     "hammerspoon"
     "iina"
     "microsoft-auto-update"
     "microsoft-edge"
     "microsoft-teams"
     "nordpass"
     "nordvpn"
     "qbittorrent"
     "raycast"
     "responsively"
     "shortcat"
     "slack"
     "tunnelblick"
     "visual-studio-code"
     "wezterm" -}}


brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
