#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "chezmoi" -}}
{{ $casks := list
     "microsoft-edge"
     "hammerspoon"
     "wezterm"
     "transmission"
     "docker" -}}


brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
