#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "bat"
     "curl"
     "exa"
     "fd"
     "ffmpeg"
     "gh"
     "git"
     "git-lfs"
     "gnu-units"
     "gnupg"
     "ripgrep"
     "wget"
     "zellij"
     "difftastic"
     "chezmoi"
     "zoxide"
     "ferdium"
     "zsh"
     "helix" -}}
{{ $casks := list
     "microsoft-edge"
     "hammerspoon"
     "wezterm"
     "balenaetcher"
     "transmission"
     "docker" -}}


brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
