{{/* Distro-specific script exclusions */}}
{{/* Arch-family: cachyos, arch, manjaro, endeavouros */}}
{{ if not (eq .distro "cachyos" "arch" "manjaro" "endeavouros") }}
.chezmoiscripts/arch/**
{{ end }}

{{ if not (eq .distro "ubuntu" "debian" "linuxmint" "pop") }}
.chezmoiscripts/debian/**
{{ end }}

{{ if not (eq .distro "fedora" "rhel" "centos" "rocky" "almalinux") }}
.chezmoiscripts/fedora/**
{{ end }}

{{/* Headless machines don't need GUI configs */}}
{{ if .headless }}
.config/ghostty
.config/ghostty/**
.config/kanata
.config/kanata/**
.config/espanso
.config/espanso/**
.config/zellij
.config/zellij/**
.local/bin/run-or-cycle.sh
.local/bin/librewolf-profile-launch.sh
.local/bin/hxe
{{ end }}

{{/* Ephemeral machines get minimal config */}}
{{ if .ephemeral }}
.config/helix
.config/helix/**
.config/navi
.config/navi/**
.doom.d
.doom.d/**
{{ end }}
