;reference: https://github.com/voku/dotfiles/blob/master/.gitconfig

[user]
  name = {{ .name }}
  email = {{ .email }}

[includeIf "gitdir:~/Code/work/"]
  path = ~/Code/work/.gitconfig

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[color]
  ui = true

[diff]
  compactionHeuristic = true
  renamelimit = 9999
  renames = copies
  algorithm = patience
  wsErrorHighlight = all
  identHeuristic = on
  colorMoved = default

[core]
  pager = hunk pager
  trustctime = false
  precomposeunicode = false
  untrackedCache = true
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  fscache = true

[init]
  defaultBranch = main
  templatedir = ~/.git_template

[push]
  default = simple
  followTags = true
  autoSetupRemote = true

[pull]
  default = current
  rebase = true
  ff = only

[fetch]
  prune = true
  writeCommitGraph = true

[merge]
  stat = true
  ff = false
  conflictstyle = zdiff3

[grep]
  lineNumber = true

[apply]
  whitespace = warn

[rebase]
  autosquash = true

[credential]
  # cache the password for http-auth
  helper = cache

[log]
  decorate = short

[rerere]
  enabled = true

[branch]
  sort = -committerdate

[advice]
  detachedHead = false
