layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar" 
        }
        children
    }

    tab focus=true {
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane size="35%"
                pane
            }
            pane size="75%" {
                command "helix"
                args "."
            }
        }
    }
    tab {
        pane
    }
    tab {
        pane
    }
}
